@keyframes fadeinall {
    0% {
        opacity: 1;
    }

    97% {
        opacity: 0;
    }

    98% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        z-index: -1;
    }
}

$primary: #37BEBF;
$body-font-color: #2D2E36;

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: $body-font-color
}



.navbar {
    max-height: 118px;
    background-color: #fff !important;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

    li {
        a {
            padding: 20px;
            font-size: 18px;
        }
    }
}

.card {
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(254, 254, 253, 0.80) 0%, rgba(254, 254, 253, 0.80) 100%), $primary;
}

.card-with-bg {
    background-image: url(../images/home-section_3-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $primary;
    min-height: 280px;
}

.btn {
    width: 127px;
}

#home-section_2 {
    .content-row {
        background: linear-gradient(0deg, rgba(254, 254, 253, 0.80) 0%, rgba(254, 254, 253, 0.80) 100%), $primary;
    }
}

footer {
    i {
        font-size: 40px;
    }
}

#about-section_0,
#contact-section_0 {
    background-image: url('../images/about-section_0-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#about-section_2 {
    .card {
        background-color: #fff;
        min-height: 300px;
    }
}

#contact-section_2 {
    background-color: $body-font-color;
}

.font-color-primary {
    color: $primary
}

.nav-pills {
    position: relative;

    .nav-link {
        background-color: $body-font-color;
        color: #fff !important;
        width: 75% !important;
        margin: 0 auto;

        &.active {
            background-color: $primary !important;
            color: $body-font-color !important;
        }
    }
}

.tab-content {
    background: linear-gradient(0deg, rgba(254, 254, 253, 0.80) 0%, rgba(254, 254, 253, 0.80) 100%), $primary;
    margin-top: -36px;
}

.modal-content {
    background-image: url(../images/breathing-section_1-popup_1-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.triangle-container {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.21px solid $primary;
    margin: 100px auto;
    opacity: 0.4;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: moveDot 10s linear infinite;
}

@keyframes moveDot {
    0% {
        top: 0;
        left: -4px;
    }

    33% {
        top: 165px;
        left: 96px;
    }

    66% {
        top: 165px;
        left: -108px;
    }

    100% {
        top: 0;
        left: -19px;
    }
}