@keyframes fadeinall {
  0% {
    opacity: 1; }
  97% {
    opacity: 0; }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1; } }

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box; }

body {
  font-size: 18px;
  color: #2D2E36; }

.navbar {
  max-height: 118px;
  background-color: #fff !important;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); }
  .navbar li a {
    padding: 20px;
    font-size: 18px; }

.card {
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(254, 254, 253, 0.8) 0%, rgba(254, 254, 253, 0.8) 100%), #37BEBF; }

.card-with-bg {
  background-image: url(../images/home-section_3-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #37BEBF;
  min-height: 280px; }

.btn {
  width: 127px; }

#home-section_2 .content-row {
  background: linear-gradient(0deg, rgba(254, 254, 253, 0.8) 0%, rgba(254, 254, 253, 0.8) 100%), #37BEBF; }

footer i {
  font-size: 40px; }

#about-section_0,
#contact-section_0 {
  background-image: url("../images/about-section_0-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }

#about-section_2 .card {
  background-color: #fff;
  min-height: 300px; }

#contact-section_2 {
  background-color: #2D2E36; }

.font-color-primary {
  color: #37BEBF; }

.nav-pills {
  position: relative; }
  .nav-pills .nav-link {
    background-color: #2D2E36;
    color: #fff !important;
    width: 75% !important;
    margin: 0 auto; }
    .nav-pills .nav-link.active {
      background-color: #37BEBF !important;
      color: #2D2E36 !important; }

.tab-content {
  background: linear-gradient(0deg, rgba(254, 254, 253, 0.8) 0%, rgba(254, 254, 253, 0.8) 100%), #37BEBF;
  margin-top: -36px; }

.modal-content {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px; }

#deepBreathing .modal-content {
  background-image: url(../images/breathing-section_1-popup_1-bg.png); }

#box .modal-content {
  background-image: url(../images/breathing-section_1-popup_2-bg.png); }

#round .modal-content {
  background-image: url(../images/breathing-section_1-popup_3-bg.png); }

.triangle-container {
  position: relative;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 173.21px solid #37BEBF;
  margin: 100px auto;
  opacity: 0.4; }
  .triangle-container .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: moveDot 10s linear infinite; }

.square-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: #37BEBF;
  border: 2px solid #37BEBF;
  opacity: 0.4; }
  .square-container .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: moveDotSquare 10s linear infinite; }

.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: #37BEBF;
  border-radius: 50%;
  opacity: 0.4; }
  .circle-container .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: moveDotRound 8s linear infinite;
    top: 45%;
    left: 45%; }

@keyframes moveDotRound {
  0% {
    transform: translate(0, 0) rotate(0deg) translateX(100px) rotate(0deg); }
  100% {
    transform: translate(0, 0) rotate(360deg) translateX(100px) rotate(-360deg); } }

@keyframes moveDotSquare {
  0% {
    top: -12px;
    left: -12px; }
  25% {
    top: -12px;
    left: 188px; }
  50% {
    top: 188px;
    left: 188px; }
  75% {
    top: 188px;
    left: -12px; }
  100% {
    top: -12px;
    left: -12px; } }

@keyframes moveDot {
  0% {
    top: 0;
    left: -4px; }
  33% {
    top: 165px;
    left: 96px; }
  66% {
    top: 165px;
    left: -108px; }
  100% {
    top: 0;
    left: -19px; } }
